<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313290316115-fj954v60ptdd7dr0qvkc9d9b4s646c3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313290316115-fj954v60ptdd7dr0qvkc9d9b4s646c3d</string>
	<key>API_KEY</key>
	<string>AIzaSyDcYC3uv7svabpyfYSwRSl696l7A6QZbEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>313290316115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>viet.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>vdtodoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>vdtodoapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313290316115:ios:d3f6ea5261979a9ccd69a6</string>
</dict>
</plist>